/* General */
body {
	font: 15px/1.5 Ariel, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	clear: both;
}

/* Horizontal Rule */
hr {
	margin: 0.5em 10% 0.5em 10%;
}

/* Overall Stats */
#title {
	float: left;
}

ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	float: left;
}

li div {
	margin: 1em;
	display: block;
	text-align: right;
}

li h3 {
	margin: 0;
}

li label {
	font-size: 0.75em;
}

/* Footer */
footer {
	text-align: center;
}
